* {
  padding: 0px;  /* 모든 요소의 기본 패딩을 제거 */
  margin: 0px;   /* 모든 요소의 기본 마진을 제거 */
  box-sizing: border-box; /* 요소의 크기 계산에 패딩과 보더를 포함 */
}

h1{
  color: rgb(52, 52, 107);
  font-size: large;
  display: flex;              /* footer 내부의 ul을 flex 컨테이너로 설정 */
  flex-direction: column;     /* flex 방향을 세로(column)로 설정 */
  justify-content: center;    /* 요소를 중앙에 정렬 */
  align-items: center;       /* 요소를 중앙에 정렬 */
  border: 1px solid ;
  
  
  
}

#n1{
  font-size: medium;
  margin: 10px;
  display: flex;           /* footer 내부의 ul을 flex 컨테이너로 설정 */
  flex-direction: column;     /* flex 방향을 세로(column)로 설정 */
  justify-content: center;    /* 요소를 중앙에 정렬 */
  align-items: center;        /* 요소를 중앙에 정렬 */
  background-color:gray;     /* section 요소의 배경색을 흰색으로 설정 */
  list-style: none;
  
}
a{
  text-decoration: none;
  color: black;
}