/* 모든 HTML 요소에 기본 여백(padding)과 마진(margin)을 0으로 설정하고, 
   box-sizing을 border-box로 설정하여 요소의 크기 계산을 직관적으로 만듭니다. 
   이렇게 하면 패딩과 보더(border)가 요소의 전체 크기에 포함됩니다. */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* header와 main 요소의 너비를 전체 화면의 60%로 설정하고,
     왼쪽에서부터 20%만큼 떨어지게 하여 중앙에 위치하도록 합니다. 
     또한 이 두 요소는 Flexbox 레이아웃을 사용하여 배치됩니다. */
header,
main {
  width: 60%;
  margin-left: 20%;
  display: flex;
}

/* header 요소의 높이를 80px로 설정하고, 배경색을 어두운 파란색(darkblue)으로,
     글자 색을 흰색(white)으로 설정합니다. 
     Flexbox를 사용하여 내부 요소들을 공간에 맞춰 양쪽 끝으로 배치하고,
     수직 방향으로 중앙 정렬합니다. 또한 내부에 20px의 패딩을 추가합니다. */
header {
  height: 80px;
  background-color: darkblue;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* header 내의 img 요소의 너비와 높이를 각각 40px로 설정하여 이미지의 크기를 조정합니다. */
header img {
  width: 40px;
  height: 40px;
}

/* main 요소를 세로 방향으로 배치(flex-direction: column)하고,
     내부 요소들을 중앙에 정렬(justify-content: center; align-items: center)합니다.
     main 요소의 높이를 450px로 설정하고, 점선(dotted)으로 된 1px의 테두리(border)를 추가합니다. */
main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  border: 1px black solid;
}

/* button 요소에 10px의 패딩을 추가하고, 둥근 모서리(border-radius)를 5px로 설정합니다.
     버튼의 배경색은 갈색(brown), 글자 색은 AliceBlue로 설정하고, 테두리는 제거합니다. */
section{
  margin: 15px;
}

     button {
  padding: 10px;
  border-radius: 5px;
  background-color: brown;
  color: aliceblue;
  border: none;
}

/* 버튼에 마우스를 올렸을 때(background-color), 배경색이 다크오렌지(darkorange)로 변경되고, 
     글씨가 굵게(font-weight: bold) 표시됩니다. */
button:hover {
  background-color: darkorange;
  font-weight: bold;
}