* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header,
main {
  width: 70%;
  margin-left: left 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 80px;
  background-color: blue;
  color: white;

  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

header img {
  width: 40px;
  height: 40px;
}