form {
  width: 100%;
}
#boxofficeMain {
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 520px;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding : 5px;
  box-sizing: border-box;
}

#numSec {
  background-color: aliceblue;
  height: 30%;
}

input[type=data]{
  width: 60%;
  height: 30px;
}

ul{
  list-style: none;
  width: 60%;
}

li {
  padding: 5px;
}

li:hover{
  background-color: aliceblue;
  font-weight: bold;
}
