.sec, .sec1{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 80%;
  height: 30px;
  text-align: center;
}

.secBT1, .secBT2, .secBT3, #sec{
  width: 15%;
  margin: 0px 5px;
}