/* 상위 요소의 너비를 100%로 잡아준다. */
form { 
  width: 100%;
}

form > section, .dt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form>section{
  width: 100%;
}

.dt{
  box-sizing: border-box;
  width: 40%;
  padding: 10px;
}

select{
  width: 80%;
  height: 30px;
}

input{
  width: 70%;
  height: 30px;
}

label{
  width: 10%;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: larger;
  font-weight: bold;
}

#txt2{
  background-color: skyblue
}