/* .secDice 클래스는 주사위 이미지와 버튼을 포함하는 섹션을 스타일링합니다 */
.secDice {
  display: flex; /* 자식 요소들을 flexbox 레이아웃으로 배치합니다 */
  flex-direction: row; /* 자식 요소들을 수평 방향으로 배치합니다 */
  justify-content: center; /* 자식 요소들을 수평으로 중앙 정렬합니다 */
  align-items: center; /* 자식 요소들을 수직으로 중앙 정렬합니다 */
  margin: 10px; /* 섹션의 외부 여백을 10px로 설정합니다 */
}

/* .secDice 내의 div와 button 요소에 마진을 추가하여 간격을 설정합니다 */
.secDice > div, .secDice > button {
  margin: 5px; /* div와 button 요소들 사이에 5px의 여백을 추가합니다 */
}

/* .dice 클래스는 주사위 이미지를 포함하는 div를 스타일링합니다 */
.dice {
  padding: 10px; /* div의 내부 여백을 10px로 설정합니다 */
}

/* .dice 내의 h2 태그를 스타일링합니다 */
.dice > h2 {
  display: flex; /* h2 태그를 flexbox 레이아웃으로 배치합니다 */
  justify-content: center; /* h2 태그의 내용을 수평으로 중앙 정렬합니다 */
  align-items: center; /* h2 태그의 내용을 수직으로 중앙 정렬합니다 */
  margin-bottom: 10px; /* h2 태그의 하단 여백을 10px로 설정합니다 */
}

/* #msg 아이디를 가진 요소는 게임 결과를 표시하는 영역을 스타일링합니다 */
#msg {
  width: 90%; /* 요소의 너비를 부모 요소의 90%로 설정합니다 */
  height: 40px; /* 요소의 높이를 40px로 설정합니다 */
  background-color: aliceblue; /* 배경색을 알리스를블루로 설정합니다 */
  border: 1px dotted gray; /* 회색의 점선 테두리를 설정합니다 */
  padding: 10px; /* 요소의 내부 여백을 10px로 설정합니다 */
  
  font-weight: bold; /* 텍스트를 굵게 설정합니다 */
  color: brown; /* 텍스트 색상을 갈색으로 설정합니다 */
}
