form {
  width: 100%;

}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 10px;
}

button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  background-color: brown;
}

input {
  width: 200px;
  height: 30px;
  margin: 10px;
  text-align: center;
}

.bt1{
  width: 136px;
  height: 50px;
  margin: 5px;
}

#txt2 {
  background-color: blanchedalmond;
}