* {
  padding: 0px;  /* 모든 요소의 기본 패딩을 제거 */
  margin: 0px;   /* 모든 요소의 기본 마진을 제거 */
  box-sizing: border-box; /* 요소의 크기 계산에 패딩과 보더를 포함 */
}

h1{
  color: blue;
  font-size: large;
  display: flex;              /* footer 내부의 ul을 flex 컨테이너로 설정 */
  flex-direction: column;     /* flex 방향을 세로(column)로 설정 */
  justify-content: center;    /* 요소를 중앙에 정렬 */
  align-items: center;        /* 요소를 중앙에 정렬 */
  background-color: yellow;
}

#n1{
  padding: 20px;
  margin: 10px;
  display: flex;              /* footer 내부의 ul을 flex 컨테이너로 설정 */
  flex-direction: column;     /* flex 방향을 세로(column)로 설정 */
  justify-content: center;    /* 요소를 중앙에 정렬 */
  align-items: center;        /* 요소를 중앙에 정렬 */
  background-color:yellowgreen;     /* section 요소의 배경색을 흰색으로 설정 */
  border-radius: 15px;         /* section 요소의 모서리를 둥글게 처리 */
}

.nn1{
  background-color:yellowgreen;     /* section 요소의 배경색을 흰색으로 설정 */
  border-radius: 15px;         /* section 요소의 모서리를 둥글게 처리 */
  border: 4px solid #1C6EA4;
}